
	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact Ghassen</h6>
					<ul class="footer__list">
						<li><a href="tel:+21656953609">+216 56953609</a></li>
						<li><a href="Ghassenabdelaziz125@gmail.com">Ghassenabdelaziz125@gmail.com</a></li>
					</ul>
					<ul class="footer__social">
						<li class="facebook"><a href="https://www.facebook.com/profile.php?id=100009159970377"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="https://www.instagram.com/ghassenabdelaziz/"><i class="icon ion-logo-instagram"></i></a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/ghassen-abdelaziz-6007a21b4/"><i class="icon ion-logo-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">list</h6>
					<ul class="footer__list">
						<li><a routerLink="popular">POPULAR Movies</a></li>
						<li><a routerLink="topRated">TOP RATED Movies</a></li>
						<li><a routerLink="newPlaying">NEW PLAYING</a></li>
						<li><a routerLink="upComing">UP COMING</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">chaaben  group</h6>
					<ul class="footer__list">
						<li><a href="#"><img src="assets/img/1.png" alt="" style="width:130px ;"></a></li>
					</ul>
					<ul class="footer__social">
						<li class="facebook"><a href="https://www.facebook.com/profile.php?id=100064014914368"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="https://www.instagram.com/chaaben_technology_group/"><i class="icon ion-logo-instagram"></i></a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/company/chaaben-technology-group/"><i class="icon ion-logo-linkedin"></i></a></li>
						<li class="linkedin"><a href="http://www.chaabengroup.com/"><i class="icon ion-logo-google"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact  Ahmed</h6>
					<ul class="footer__list">
						<li><a href="tel:+21656953946">+216 56953946</a></li>
						<li><a href="ahmedbenammar.univ@gmail.com">ahmedbenammar.univ@gmail.com</a></li>
					</ul>
					<ul class="footer__social">
						<li class="facebook"><a href="https://www.facebook.com/ahmed.benammar.313/"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="https://www.instagram.com/ahmed_ben_aammar/"><i class="icon ion-logo-instagram"></i></a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/ahmed-ben-ammar-695869259/"><i class="icon ion-logo-linkedin"></i></a></li>
						<li class="github"><a href="https://github.com/ahmedbenammar123/mean-stack.git"><i class="icon ion-logo-github"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer copyright -->
				<div class="col-12">
					<div class="footer__copyright">
						<small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>

						<ul>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<!-- end footer copyright -->
			</div>
		</div>
	</footer>
	<!-- end footer -->